.more-screen .icon-row {
  margin-top: 35px;
}
.more-suge__title {
  margin-bottom: 30px;
}
.more-suge {
  margin-top: 50px;
  border-top: var(--grey-bar);
  padding-top: 40px;
}

.more-suge__icons {
  display: flex;
}
.more-suge__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suge__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--brown);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.more-suge__icon-image i {
  font-size: 32px;
  color: var(--mint);
}
